<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.sharkznews.release"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

		<name>Sharkapp</name>
		<description>
			Sharkznewz
		</description>
		<author href="http://www.pazion.nl/" email="mick@pazion.nl">
			Pazionit
		</author>
		<!-- ios -->		
		<!-- android -->
		<gap:splash src="splash/default.png" />

	</widget>